@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 52%;
  height: 10%;
  margin: auto;
  column-gap: 3%;
  margin-top: 20%;
}

h3 {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: gray;
  margin: 0;
  padding: 0;
}

.footer {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: gray;
}

.flexone, .flextwo, .flexthree {
  display: flex;
  flex-direction: row;
}

.linkone, .linktwo, .linkthree {
  text-decoration: none;
  font: font-family: 'Oswald', sans-serif;
}

.footerone, .footertwo,.footerthree {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arrow {
  margin-top: 1%;
}

.icon { 
  margin-top: 1%;
  margin-right: 4%;
}
.headerone, .headertwo, .headerthree {
  padding-left: 5%;
}

.boxone, .boxtwo, .boxthree {
  border: solid 2px silver;
  border-radius: 4px;
  padding: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.boxone:hover, .boxtwo:hover, .boxthree:hover {
  background-color: #F5F5F5;
}

@media (max-width: 767px) {

  .container {
    display: flex;
    flex-direction: column;
  }

  .boxone, .boxtwo, .boxthree {
    margin: 2%;
  }
  
}
